<div class="home-container">
  <div class="row intro-row">
    <div class="small-12 columns">
      <h1>Welcome to Tyto</h1>
    </div>
  </div>
  <div class="row student-row">
    <div class="small-12 columns">
      <p>Student stuff!</p>
    </div>
  </div>
  <div class="row teacher-row">
    <div class="small-12 columns">
      <p>Teacher stuff!</p>
    </div>
  </div>
</div>
