<div id='content'></div>
<div class="container">
  <div class="row">
    Assignment info can go here
    <%= @assignment.name %>
    <%= @assignment.assignment_size %>
    <%= @assignment.complete %>
  </div>

<div class="container">
  <div id="question">
  </div>

  <div id="chart">
  </div>

  <div id="progress">
  </div>

  <div id="streaks">
  </div>
</div>

<script src="http://fb.me/JSXTransformer-0.10.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM **/
(function () {
  var assignment = new Assignment(<%= @assignment.to_json.html_safe %>);
  var questionForm = React.renderComponent(
    <QuestionForm />,
    document.getElementById('question')
  );
  var chart = React.renderComponent(
    <Chart />,
    document.getElementById('chart')
  );
  var progress = React.renderComponent(
    <Progress />,
    document.getElementById('progress')
  );
  var streaks = React.renderComponent(
    <Streaks />,
    document.getElementById('streaks')
  );
  var presenter = new AssignmentPresenter({
    model: assignment,
    views: [questionForm, chart, progress, streaks]
  });
})();
</script>
