<div id='content'></div>
<div class="container">
  <div class="row">
    Assignment info can go here
    <%= @assignment.name %>
    <%= @assignment.assignment_size %>
    <%= @assignment.complete %>
  </div>
  <div class="row">
    <div class="col-sm-8">
      Question goes here
    </div>
    <div class="col-sm-4">
      <div class="row">Cool D3 line graph here</div>
      <div class="row">Streak and progress bar here</div>
      <div class="row">Class leaderboard here</div>
    </div>
  </div>
</div>

<div id="question">
</div>
