<div class="row assignment-header">
  <div class="small-12 medium-6 columns">
    <p class="small-only-text-center"><%= @assignment.name %>: <%= @assignment.assignment_size %> Problems</p>
  </div>
  <div class="small-12 medium-6 columns">
    <div id="progress"></div>
  </div>
</div>
<div class="body-container">
  <div class="row">
    <div class="small-12 large-8 columns">
      <div id="question">
      </div>
    </div>
    <div class="small-12 large-4 columns">
      <div class="row">
        <div class="small-12 medium-6 large-12 columns">
          <div id="difficult"></div>
        </div>
        <div class="small-12 medium-6 large-12 columns">
          <div id="streaks"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="http://fb.me/JSXTransformer-0.10.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM **/
(function () {
  window.assignment = new Assignment(<%= @assignment.to_json.html_safe %>);
  var questionForm = React.renderComponent(
    <QuestionForm />,
    document.getElementById('question')
  );
  var difficult = React.renderComponent(
    <Difficult />,
    document.getElementById('difficult')
  );
  var progress = React.renderComponent(
    <Progress />,
    document.getElementById('progress')
  );
  var streaks = React.renderComponent(
    <Streaks />,
    document.getElementById('streaks')
  );
  var presenter = new AssignmentPresenter({
    model: assignment,
    questionForm: questionForm,
    difficult: difficult,
    progress: progress,
    streaks: streaks
  });
})();
</script>
