<form id="input-form">
  <input id="username" type="text" />
  <input id="message" type="text" />
  <input type="submit">
</form>

<div id="chat-text"></div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
var scheme   = "ws://";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);

ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  $("#chat-text").append("<div>" + data.username + ": " + data.message + "</div>");
  $("#chat-text").stop().animate({
    scrollTop: $('#chat-text')[0].scrollHeight
  }, 800);
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var username = $("#username").val();
  var message   = $("#message").val();
  console.log(username);
  console.log(message);
  ws.send(JSON.stringify({ username: username, message: message }));
  $("#message").value = "";
});

</script>
