<form id="input-form">
  <input id="handle" type="text" />
  <input id="text" type="text" />
  <input type="submit">
</form>

<div id="chat-text"></div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
var scheme   = "ws://";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);

u

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#handle").val();
  var text   = $("#text").val();
  console.log(handle);
  console.log(text);
  ws.send(JSON.stringify({ handle: handle, text: text }));
  $("#text").value = "";
});

</script>
