<h1>Invitation to join a TYTO Classroom</h1>

<p>
  Hello!  You have been invited by <%= @teacher.username %> to join <%=@classroom.name%>. Your unique code is <%=@invite.code%>. Please visit tyto.com to register and use this code to register for the classroom!
</p>
