// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Assignment Show */

.assignment-header {
  background-color: #2ba6cb;
  width: 100%;
  max-width: 100%;
  padding-top: 1.2em;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

.question-text {
  font-size: 3em;
  padding: 0.5em;
  text-align: center;
}

.progress {
  /*margin-top: 0.7em;*/
}


#question {

}

#chart {
  text-align: center;
}

#progress {

}

#streaks {

}

.easy {
  background-color: green;
}

.hard {
  background-color: red;
}
