body {
  text-align: center;
}

.assignment-header.row {
  background-color: #2ba6cb;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  color: #fff;
}

#question {

}

#chart {

}

#progress {

}

#streaks {

}
