.assignment-header.row {
  background-color: #2ba6cb;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  color: #fff;
}

#question {

}

#chart {

}

#progress {

}

#streaks {

}
