body {
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab';
  font-weight: bold;
}

/* Nav Bar */
.logo {
  font-weight: bold;
}

.top-bar {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.body-container {
  padding-top: 1.5em;
}
