// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-container {
  background-color: #fff;
  padding: 1em;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #DDD;
  }
