// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.assignment {
  /*margin-bottom: 1em;*/
}

.row.button-header {
  width: 100%;
  max-width: 100%;
}

.assignment-container{
  padding: 1em;
  background-color: #fff;
  background-image: image-url('bg.png');
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  margin: 1em;
  -vendor-animation-duration: 0.5s;
  -vendor-animation-delay: 0.5s;
  -vendor-animation-iteration-count: infinite;
}

.swing {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -ms-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
}

.button-header {
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.student-sub {
  margin: .4em;
  padding-top: 0;
}

.assignment-row {
  background-color: #fff;
  padding: 2em;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.assignment-row h1 {
  margin-left: 0.75em;
}

.course-name {
  color: #222;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  font-size: 2em;
  line-height: 1em;
}

.assignment-name {
  color: #222;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

.questions-complete {
  color: #222;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  font-size: 2em;
  line-height: 1em;
}

.due-date {
  color: #222;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

.classroom-color0 {
  border-top: 10px solid #FF3136;
}

.classroom-color1 {
  border-top: 10px solid #AA2EE8;
}

.classroom-color2 {
  border-top: 10px solid #4065FF;
}

.classroom-color3 {
  border-top: 10px solid #2EE8E2;
}

.classroom-color4 {
  border-top: 10px solid #8FFF97;
}

.classroom-color5 {
  border-top: 10px solid #c5127c;
}

.classroom-color6 {
  border-top: 10px solid #19ad1d;
}

.classroom-color7 {
  border-top: 10px solid #fd9426;
}

.complete-grey {
  background-color: #ddd;
}

.button-group {
  display: inline;
}

.transition-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.transition-enter.transition-enter-active {
  opacity: 1;
}

.transition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.transition-leave.transition-leave-active {
  opacity: 0.01;
}

.button-header {
  padding-top: 1em;
  border-bottom: 1px solid #EEE;
}

