// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.assignment {
  /*margin-bottom: 1em;*/
}

.row.button-header {
  width: 100%;
  max-width: 100%;
}

.assignment-container{
  background-color: #2ba6cb;
  padding: 1em;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
}

.course-name {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  font-size: 2em;
  line-height: 1em;
}

.assignment-name {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

.questions-complete {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  font-size: 2em;
  line-height: 1em;
}


.classroom0 {
  background-color: blue;
}

.classroom1 {
  background-color: green;
}

.classroom2 {
  background-color: yellow;
}

.classroom3 {
  background-color: red;
}

.classroom4 {
  background-color: orange;
}

.classroom5 {
  background-color: purple;
}

.classroom6 {
  background-color: brown;
}

.classroom7 {
  background-color: teal;
}

.complete-grey {
  background-color: #ccc;
}

.button-group {
  display: inline;
}

.transition-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.transition-enter.transition-enter-active {
  opacity: 1;
}

.transition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.transition-leave.transition-leave-active {
  opacity: 0.01;
}
