// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#assign {
  height: 250px;
   background-color: green;

}

#search {
  border: 1px solid green;

}

.table {
  overflow: scroll;
}

th.header {
  background-image: url('http://tablesorter.com/themes/blue/bg.gif');
  cursor: pointer;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 20px;
  border-right: 1px solid #dad9c7;
  margin-left: -1px;
}

th.headerSortDown {
    background-image: url('http://tablesorter.com/themes/blue/desc.gif');
    background-color: #3399FF;
}

th.headerSortUp {
    background-image: url('http://tablesorter.com/themes/blue/asc.gif');
    background-color: #3399FF;
}

.notLateAssignment {
  background-color: white;
}

.lateAssignment {
  background-color: red;
}

.poorPerformance {
  background-color: orange;
}

.goodPerformance {
  background-color: gray;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
