// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#assign, #struggling, #search {
  height: 250px;
  border: 1px solid red;

}

.completePoorAssignment {
  border: 1px solid red;
  color: red;
}

.completeGoodAssignment {
  border: 1px solid green;
  color: green;
}

.incompleteAssignment {
  border: 1px solid grey;
  color: grey;
}

