<div class="body-container">
  Welcome to Tyto
</div>

<form id="input-form">
  <input id="handle" type="text" />
  <input id="text" type="text" />
  <input type="submit">
</form>

<div id="chat-text"></div>
