<%= @teacher.username %>
<ul>
<% @classrooms.each do |classroom| %>
  <li>
    <%= classroom.name %>
    <ul>
      <%@students[classroom.id].each do |student|%>
        <li><%=student.username%> <%= "A+" if student.username[0]==
        "H"%></li>

      <%end%>
    </ul>
  </li>
<%end%>
</ul>
