.chatFixed {
  position:fixed;
  font-family: "Roboto Slab", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  bottom: 1em;
  right: 1em;
  background-color: #2ba6cb;
  margin: 0;
  width: 11.250em;
}

.fixed-bottom-row {
  position:fixed;
  bottom: 0em;
  background-image: image-url('bg.png');
  border-top: 1px solid #ddd;
  padding-top: 1em;
}

.teacherChat {
  left: 1em;
}

.chatBox {
  bottom: 3.688em;
  right: 0.313em;
  padding: 1em;
  position: fixed;
  width: 20em;
  height: 25.000em;
  background-image: image-url('bg.png');
  border: 1px solid #ccc;
}

#chatBox {
  height:100%;
  width: 100%;
}

.teacherChatBox {
  left: .75em;
}

.topChatBar{
  height: 9.5%;
  border-bottom: 1px solid #ccc;
}

.reactChatBox {
  height: 100%;
  width: 100%;
  position: relative;
}

.chatMessages {
  height: 80%;
  overflow-y: scroll;
}

.chatInput {
  position:absolute;
  bottom:-1em;
}


