// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-container {
  margin: 0 auto;
  padding: 0;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  border-bottom: 1px solid #ddd;
  padding: 8em;
  @media only screen and (max-width: 40em) { padding: 1.5em }
}

.title-column {
  max-width: 28em;
}

.intro-home-row {
  background-color: #48a6cb;
  text-align: center;
}

.white-text {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
}

h1.white-text{
  font-size: 5em;
  @media only screen and (max-width: 40em) { font-size: 4em; };
  line-height: .9em;
  padding-bottom: 0.5em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
}

.intro.white-text {
  font-size: 1.5em;
  line-height: 1.2em;
}

.black-text {
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
}

.teacher-home-row {
  background-color: #fff;
}

.student-home-row {
  background-color: #48a6cb;
}

.parent-home-row {
  background-color: #fff;
  text-align: center;
}

.home-column {
  // max-width: 960px;
}

.inner-intro {
  margin-top: 3em;
}

.intro-container {
  background-image: image-url('bg.png');
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
}

.img-column {
  text-align: center;
}

.screen-img {
  max-width: 100%;
}

.outer-table-div {
  display: table;
}

.inner-table-div {
  display: table-cell;
  vertical-align: middle;
}

.student-separator {
  padding: 3em;
}
